### Import modules and connect to database

In [11]:
import pandas as pd
from sqlalchemy import create_engine
import yaml

In [3]:
cred = yaml.load(open('/Users/vivianemarani/.ssh/qpx_express_cred.yml'))
conn = 'postgresql://{user}:{password}@{host}/{dbname}'.format(**cred['rds'])

In [5]:
engine = create_engine(conn)

In [7]:
engine.table_names()

['trips', 'airport', 'city', 'aircraft', 'carrier']

------

## Preprocessing
Get TRIPS table ready for Modeling

In [128]:
trips = pd.read_sql("SELECT * from trips", engine)
trips.head()

,id,duration,price,n_segments,origin_airport,dest_airport,origin_aircraft,dest_aircraft,origin_carrier,dest_carrier
0,1,2041,"$1,678.46",4,SFO,GRU,319,773,UA,JJ
1,2,2118,"$1,721.36",4,SFO,GRU,738,738,CM,CM
2,3,2100,"$1,721.36",4,SFO,GRU,738,738,CM,CM
3,4,2115,"$1,721.36",4,SFO,GRU,738,738,CM,CM
4,5,2103,"$1,721.36",4,SFO,GRU,738,738,CM,CM

In [131]:
# convert duration column to integer value
trips['duration'] = pd.to_numeric(trips['duration'])
trips[['price']] = trips[['price']].replace('[\$,]','',regex=True).astype(float)

In [132]:
# Separate origin aircraft models with get_dummies
trips["319"] = pd.get_dummies(trips['origin_aircraft']).ix[:,0]
trips["738"] = pd.get_dummies(trips['origin_aircraft']).ix[:,1]
trips["753"] = pd.get_dummies(trips['origin_aircraft']).ix[:,2]
trips["7S8"] = pd.get_dummies(trips['origin_aircraft']).ix[:,3]

In [133]:
# Separate destination aircraft models with get_dummies
trips["738"] = pd.get_dummies(trips['dest_aircraft']).ix[:,0]
trips["763"] = pd.get_dummies(trips['dest_aircraft']).ix[:,1]
trips["764"] = pd.get_dummies(trips['dest_aircraft']).ix[:,2]
trips["773"] = pd.get_dummies(trips['dest_aircraft']).ix[:,3]
trips["777"] = pd.get_dummies(trips['dest_aircraft']).ix[:,4]

In [134]:
# Separate origin carrier models with get_dummies
trips["AM"] = pd.get_dummies(trips['origin_carrier']).ix[:,0]
trips["CM"] = pd.get_dummies(trips['origin_carrier']).ix[:,1]
trips["UA"] = pd.get_dummies(trips['origin_carrier']).ix[:,2]

In [135]:
# Separate detination carrier models with get_dummies
trips["CM"] = pd.get_dummies(trips['dest_carrier']).ix[:,0]
trips["JJ"] = pd.get_dummies(trips['dest_carrier']).ix[:,1]
trips["UA"] = pd.get_dummies(trips['dest_carrier']).ix[:,2]

In [136]:
#trips.drop(trips.ix[1]["origin_airport", "dest_airport","dest_aircraft","origin_carrier", "dest_carrier"])

In [137]:
# Delete unnecessary tables
del trips['origin_aircraft']
del trips['dest_aircraft']
del trips['origin_carrier']
del trips['dest_carrier']
del trips['origin_airport']
del trips['dest_airport']
del trips['n_segments']

In [143]:
trips

,id,duration,price,319,738,753,7S8,763,764,773,777,AM,CM,UA,JJ
0,1,2041,1678.46,1,0,0,0,0,0,1,0,0,0,0,1
1,2,2118,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
2,3,2100,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
3,4,2115,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
4,5,2103,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
5,6,2163,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
6,7,1875,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
7,8,1878,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
8,9,1985,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
9,10,1965,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
10,11,2041,1678.46,1,0,0,0,0,0,1,0,0,0,0,1
11,12,2118,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
12,13,2100,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
13,14,2115,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
14,15,2103,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
15,16,2163,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
16,17,1875,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
17,18,1878,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
18,19,1985,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
19,20,1965,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
20,21,2041,1678.46,1,0,0,0,0,0,1,0,0,0,0,1
21,22,2118,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
22,23,2100,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
23,24,2115,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
24,25,2103,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
25,26,2163,1721.36,0,1,0,0,0,0,0,0,0,1,0,0
26,27,1875,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
27,28,1878,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
28,29,1985,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
29,30,1965,1760.36,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3182,3183,1878,1721.06,0,1,0,0,0,0,0,0,0,1,0,0
3183,3184,2153,1555.61,0,1,0,1,0,0,0,0,1,1,0,0
3184,3185,2150,1555.61,0,1,0,1,0,0,0,0,1,1,0,0
3185,3186,2049,1629.16,0,0,1,0,1,0,0,0,0,0,1,0
3186,3187,2036,1629.16,0,0,1,0,0,1,0,0,0,0,1,0
3187,3188,2012,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3188,3189,2002,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3189,3190,1982,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3190,3191,2064,1629.16,0,0,1,0,0,1,0,0,0,0,1,0
3191,3192,2037,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3192,3193,1878,1721.06,0,1,0,0,0,0,0,0,0,1,0,0
3193,3194,2049,1629.16,0,0,1,0,1,0,0,0,0,0,1,0
3194,3195,2036,1629.16,0,0,1,0,0,1,0,0,0,0,1,0
3195,3196,2012,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3196,3197,2037,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3197,3198,2076,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3198,3199,2002,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3199,3200,2064,1629.16,0,0,1,0,0,1,0,0,0,0,1,0
3200,3201,1982,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3201,3202,1878,1721.06,0,1,0,0,0,0,0,0,0,1,0,0
3202,3203,1875,1721.06,0,1,0,0,0,0,0,0,0,1,0,0
3203,3204,2150,1555.61,0,1,0,1,0,0,0,0,1,1,0,0
3204,3205,2153,1555.61,0,1,0,1,0,0,0,0,1,1,0,0
3205,3206,2049,1629.16,0,0,1,0,1,0,0,0,0,0,1,0
3206,3207,2036,1629.16,0,0,1,0,0,1,0,0,0,0,1,0
3207,3208,2012,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3208,3209,2002,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3209,3210,1982,1629.16,0,0,1,0,0,0,0,1,0,0,1,0
3210,3211,2064,1629.16,0,0,1,0,0,1,0,0,0,0,1,0
3211,3212,2037,1629.16,0,0,1,0,0,0,0,1,0,0,1,0

## Look for NaN and Outliers